[Unit]
Description=Beszel agent
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=beszel-agent
Image=docker.io/henrygd/beszel-agent:0.19.0@sha256:00c88600e7d120128f623b2deb5257603d464e841fd68f88cc791dcc075f9e46
Network=host
Volume=/run/podman/podman.sock:/run/podman/podman.sock:ro
{{ secretEnv "beszelToken" "TOKEN" }}
Environment="KEY={{ .beszelKey }}"
Environment=HUB_URL={{ .beszelHubUrl }}
Environment=SYSTEM_NAME={{ m_facts "hostname" }}

[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target
