[Unit]
Description=Gerbil (WireGuard manager)
After=app.service
Requires=app.service

[Container]
Pod=pangolin.pod
ContainerName=gerbil
Image=docker.io/fosrl/gerbil:1.5.1@sha256:e8010d0354d7dc3b8cb1c80d1ae9d961c02e8b1fccc353ef1dfc37631722f7f6
AddCapability=NET_ADMIN SYS_MODULE
Exec=--reachableAt=http://127.0.0.1:3003 --generateAndSaveKeyTo=/var/config/key --remoteConfig=http://localhost:3001/api/v1/gerbil/get-config --reportBandwidthTo=http://localhost:3001/api/v1/gerbil/receive-bandwidth
Volume=pangolin-config.volume:/var/config

[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target
