[Unit]
Description=Traefik
After=app.service
Requires=app.service

[Container]
Pod=pangolin.pod
ContainerName=traefik
Image=reg.mini.dev/traefik:v3.7.12@sha256:6c1d966404553adbc1a9467ee94016a657f0d6aa2b5b314a7078d6c5da7da0eb
Exec=--configFile=/etc/traefik/traefik_config.yml
AddCapability=NET_BIND_SERVICE
Tmpfs=/plugins-storage
{{ secretEnv "cfDnsApiToken" "CF_DNS_API_TOKEN" }}
Volume={{ m_dataDir "pangolin" }}/traefik:/etc/traefik:ro,z
Volume=letsencrypt.volume:/letsencrypt:z

[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target
